# sbf settings
#nodeps				= False
#exclude			= True
#queryUser			= True
#numJobs			= 1
#outputLineLength	= 79
#printCmdLine		= 'less'
#companyName		= ''
#pakPaths			= []
#svnUrls			= {}
#svnDefaultBranch	= '1.0'
#projectExclude		= [ '*/vgsdk*' ]
#weakLocalExtExclude= []
#svnCheckoutExclude	= [ '*/vgsdk*' ]
#svnUpdateExclude	= [ '*/vgsdk*' ]
#clVersion			= 'highest'
#installPaths		= []
#publishPath		= ''
#publishOn			= False
#buildPath			= 'build'
#SConsignFilePath	= 'buildPath' or '~'
#cachePath			= ''
#cacheOn			= False
#config				= 'release' # debug or release : the default compilation mode.
#warningLevel		= 'normal'
#userDict			= {}
