# sbf settings
#queryUser					= True
#numJobs					= 1
#decider					= 'fast'
#outputLineLength			= 79
#printCmdLine				= 'less'
#companyName				= ''
#pakPaths					= []
#svnUrls					= {}
#svnDefaultBranch			= '1.0'
#projectExclude				= [ '*/vgsdk*' ]
#weakLocalExtExclude		= []
#svnCheckoutExclude			= [ '*/vgsdk*' ]
#svnUpdateExclude			= [ '*/vgsdk*' ]
#clVersion					= 'highest'
#installPaths				= []

# On windows platform
#publish on a local drive	:	publishPath = '/cygdrive/d/local/rsync/'
#publish on a network drive	:	publishPath = '/cygdrive/X/' for X:
#on a network drive			:	publishPath = 'npapier@remoteComputer:/home/npapier/tmp/rsync'
#publishPath				= ''
#publishOn					= False

#buildPath					= 'build'
#SConsignFilePath			= 'buildPath' or '~'
#cachePath					= ''
#cacheOn					= False
#config						= 'release' # debug or release : the default compilation mode.
#generateDebugInfoInRelease = 'False'
#warningLevel				= 'normal'

#userDict					= {}
#from src.SConsBuildFramework import createBlowfishShareBuildCommand
#userDict = { 'blowfish' : createBlowfishShareBuildCommand( 'theKey' ) }
# or
#userDict = { 'blowfish' : ('command ${SOURCE} ${TARGET}', '${SOURCE}.encrypt', 'Encrypt $SOURCE.file') }
